body {
  background-image: url(resources/back2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}
.bxslider {
    display: flex;
    position: relative;
    width: auto;
}

#ul {
    display: flex;
    margin: auto;
    width: 80%;
}

.contenedor {
    margin: auto;
    width: auto;
}

.Flex {
    display: flex;
    z-index: 10;
    padding-top: 30px;
    background-color: transparent;
}

.notFlex {
    display: block;
    background-color: transparent;
}

.delete-margin {
    margin-top: -20px;
}

.arrow {
    margin-top: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    height: 15px;
    width: 15px;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.Image {
    margin-left: 2%;
    width: 400px;
    margin-top: -65px;
    margin-right: 45%;
    background-color: black;
}

.Image-restaurant {
    height: 200px;
    width: 300px;
    border-radius: 0%;
    background-color: transparent;
    z-index: -1;
}

.img_rest {
    height: 200px;
    width: 300px;
    border-radius: 5%;
    margin-top: 30px;
    margin-left: 50px;
    background-color: green;
}

.Image-padding {
    width: auto;
    height: 100px;
    background-color: transparent;
}

.Image-block {
    width: auto;
}

.Search-box {
    width: 25px;
    height: 25px;
}

.Cuenta {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    background-image: url(resources/user_small.png);
}

.text {
    font: bold 100% "Trebuchet MS", sans-serif;
    color: white;
}

.text-description {
    font: 100% "Trebuchet MS", sans-serif;
    color: black;
    margin-top: -70px;
    margin-bottom: 5px;
    text-align: center;
}

.text-description p {
    margin-top: 3px;
}

.text-filter {
    background-color: orangered;
    font: bold 100% "Trebuchet MS", sans-serif;
    color: white;
    border-radius: 5%;
    border-color: orangered;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-right: 20px;
    height: 40px;
    width: auto;
}

.input-text {
    height: 40px;
    width: 150px;
    color: white;
    font: bold 100% "Trebuchet MS", sans-serif;
    border: 1px orangered;
    background: linear-gradient(to right, orangered, rgb(231, 171, 7)) 2px calc(100% - 5px)/calc(100% - 10px) 2px no-repeat;
    padding-right: 5px;
    padding-left: 5px;
}

.title {
    margin-left: 90px;
    font: bold 200% "Trebuchet MS", sans-serif;
}

.space {
    margin-right: 30px;
}

.restaurant_block {
    margin-top: 50px;
    background-color: transparent;
}

.discount-circle {
    position: absolute;
    background-color: rgb(231, 171, 7);
    border-color: orange;
    border-radius: 5%;
    min-width: 80px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 270px;
    margin-top: -200px;
    text-align: center;
    direction: rtl;
    z-index: 1;
}

.discount-circle p {
    font: bold 100% "Trebuchet MS", sans-serif;
    line-height: 40px;
}

.score {
    display: block;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    margin-top: -20px;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 23px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

.valoration {
    background-color: black;
    border-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
    color: white;
    line-height: 30px;
    margin-left: 120px;
    margin-top: -20px;
}

.valoration p {
    color: white;
    font: bold 60% "Trebuchet MS", sans-serif;
    line-height: 40px;
}

.restaurant-name {
    font: bold 100% "Trebuchet MS", sans-serif;
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.circle {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    background-color: grey;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.circle-p {
    font: bold 100% "Trebuchet MS", sans-serif;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}

.circle img {
    border: 50%;
}

.bottom-block {
    background-color: black;
    height: 130px;
}

.mobile-block {
    margin-left: 3%;
    margin-top: 2%;
}

.mobile-block h1 {
    color: white;
    font: bold 100% "Trebuchet MS", sans-serif;
    margin-bottom: 5%;
}

/* Page content */

.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Slider distancia */

.sticky+.content {
    padding-top: 102px;
}

.slidecontainer {
    width: 320px;
    height: 15px;
    margin-top: 35px;
}

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5%;
    background: orangered;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 5%;
    background: orangered;
    cursor: pointer;
}

/* Seleccionar max/min dineros*/

/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    font: bold 100% "Trebuchet MS", sans-serif;
    border-color: rgb(231, 171, 7);
    color: black;
    background-color: rgb(255, 244, 94);
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: rgb(255, 249, 163);
    color: black;
}

/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: rgb(255, 244, 94);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 200px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(207, 207, 207);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(141, 141, 141);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: orangered;
  }


  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.container-fluid.custom-container {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:grey;
  font-size: 16px;
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.Image
{
    margin-left: 10%;
    width: 400px;
    padding-top: 100px;
}

.Image-padding
{
    width: auto;
    height: 100px;
    background-color: transparent;
}

.Image-block
{
    margin-top: -60px;
    margin-left: -35px; 
    width: auto;
}

.hlabel
{
    margin-left: 10%;
    margin-top: 5%;
    font: bold 200% "Trebuchet MS", sans-serif;
}

.bottom-block
{
    margin-top: 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.margin
{
    height: 5px;
}

.flex-bottom
{
    display: flex;
}

.mobile-block
{
    margin-left: 10%;
}

.mobile-block h1
{
    color: white;
    font: bold 100% "Trebuchet MS", sans-serif;
    margin-bottom: 5%;
}

.info-block
{
    color: white;
    margin-left: 5%;
}

.info-block h1
{
    font-size: 20px;
    margin-bottom: 10%;
}

.info-block h2
{
    font-size: 16px;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    width: 230px;
    height: 100px;
    text-align: center;
    position: relative;
    padding: 30px;
    margin: 10px 20px 20px 10px;
    float: left;
    border-radius: 10px;
    font-family: 'Verdana';
    font-size: 25px;
    color: #FFF;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
}

.gray {
    background-color: #808080;
    border-bottom: 5px solid #606060;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}